# Ignore folders
.storage
.cloud
custom_components
deps
tts
www/community
www/hacsfiles
gtfs
images

# Ignore files
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
zone.yaml
automation/leave_notification.yaml
www/images/wifi-qr.png
.HA_VERSION
.uuid
abodepy_cache.pickle
aircast.xml
fitbit.conf
home-assistant.log
home-assistant_v2.db
ideas.txt
SERVICE_ACCOUNT.json
.google.token
html5_push_registrations.conf
images/mail_and_packages/mail_today.gif
.sonoff.json